{
  "extends": "eslint-config-egg",
  "rules": {
    "comma-dangle": ["error", "never"],
    "semi": ["error", "never"],
    "arrow-parens": ["error", "always"],
    "array-bracket-spacing": ["error", "never"],
    "space-before-function-paren": ["error", "never"]
  }
}
